.buttons
{
    width: 250px;
    border-radius: 20px;
    border-color: white;
}
.back
{
    float: right;
    margin-top: 0px;
}
body
{
    background-size: cover;
}
.heading
{
    width: 100%;
    font-size: 25px !important;
}